<div class="toolbard">
    <mat-toolbar color="primary">
        <mat-toolbar-row>
            <span>BBVA</span>
            <span class="spacer"></span>
            <mat-icon class="icon">favorite</mat-icon>
        </mat-toolbar-row>
    </mat-toolbar>
<div>
<div class="center-container">

    <div *ngIf="showChat">
        <div #scrollBottom>
            <mat-card class="background-chat">
                <mat-list class="chat-list">
                    <mat-list-item #messageContainer *ngFor="let message of messages" [ngClass]="[(message.action =='MESSAGE' && message.from.id == 1212)? 'chat-list-item': '']">
                        <img mat-list-avatar *ngIf="message.action == 'MESSAGE'" [src]="message.from.avatar">
                        <h4 mat-line *ngIf="message.action == 'MESSAGE'">
                        <b>{{message.from.name}}</b>
                        </h4>
                        <p mat-line *ngIf="message.action == 'MESSAGE'">
                        <span> {{message.content}} </span>
                        </p>
                        <p mat-line *ngIf="message.action == 'JOINED'" class="chat-notification">
                        <span> <b>{{message.from.name}}</b> joined to the conversation. </span>
                        </p>
                        <p mat-line *ngIf="message.action == 'RENAME'" class="chat-notification">
                        <span> <b>{{message.content.previousUsername}}</b> is now <b>{{message.content.username}}</b> </span>
                        </p>
                    </mat-list-item>
                </mat-list>
            </mat-card>
        </div>
        
        <div>
            <table>
                    <td>
                        <mat-icon>message</mat-icon>
                        <mat-form-field class="textarea-message">
                            <input matInput 
                                #inputMessage 
                                maxlength="60" 
                                placeholder="Escribe un mensaje" 
                                [(ngModel)]="messageContent" 
                                (keyup.enter)="sendMessage()">
                            <mat-hint align="end">{{inputMessage.value.length}}/60</mat-hint>
                        </mat-form-field>
                    </td>
                    <td>
                        <button mat-button class="button-query-send" (click)="sendMessage()" matTooltip="Enviar mensaje"> 
                            <mat-icon>send</mat-icon>
                        </button>
                    </td>
            </table>
        </div>

    </div>
    
    <div *ngIf="showRegister">
            <div class="row">
                <div class="column">
                    <table>
                        <td>
                            <mat-form-field class="login-fields" >
                                <input matInput placeholder="Número celular" [(ngModel)]="cellphone" name="id" maxlength="10" minlength="0" required>
                                <span matPrefix>+57&nbsp;</span>
                            </mat-form-field>
                            <br>
                            <button mat-button class="button-query-global" (click)="loginChat()" matTooltip="Entra al chat." style="margin-right: 13px;" >
                                ACCESO 
                                <mat-icon>check_circle</mat-icon>
                            </button>
                            <br>
                        </td>
                    </table>
                </div>
                <div class="column">
                    <img class="center-container-makoto" src="assets/images/chatbot.png" height=300 width="300">
                </div>
            </div>
            <div *ngIf="showDivError">
                <div *ngFor="let msg of messagesError" class="errorMessage">
                    <mat-icon>error_outline</mat-icon>{{ msg }}
                </div>
            </div>
    </div>
</div>
