/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
//@import 'https://fonts.googleapis.com/icon?family=Material+Icons';
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.
// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();
// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$FrontEndGovernanceProject-primary: mat-palette($mat-indigo);
$FrontEndGovernanceProject-accent: mat-palette($mat-pink, A200, A100, A400);
// The warn palette is optional (defaults to red).
$FrontEndGovernanceProject-warn: mat-palette($mat-red);
// Create the theme object (a Sass map containing all of the palettes).
$FrontEndGovernanceProject-theme: mat-light-theme($FrontEndGovernanceProject-primary,
$FrontEndGovernanceProject-accent,
$FrontEndGovernanceProject-warn);
@include angular-material-theme($FrontEndGovernanceProject-theme);

.mat-toolbar.mat-primary {
    color: white;
    background: #004283;
    padding-right: 0;
  }
  